<div class="w-full min-h-screen bg-gray-200">
  <!-- orders -->
  <div class="flex-1 overflow-y-auto">
    <!-- 1st condition div start -->
    <!-- *ngIf="userRole === 'ADMIN'" -->
    <div>
      <div class="flex flex-col justify-center p-4 2xl:p-8">
        <h1 class="text-3xl text-center text-gray-500 font-semibold my-6">
          Mess Fund
        </h1>
        <p class="text-red-500 text-xl font-semibold text-center">{{deleteMessage}}</p>
        <div *ngIf="userData?.role === 'MANAGER'" class="mb-4">
          <button
            routerLink="/fund/add"
            class="flex items-center bg-blue-600 hover:bg-blue-500 text-gray-50 font-semibold py-1 px-3 rounded-md shadow-md"
          >
            <p class="text-base pr-2">Add Fund</p>
            <fa-icon class="text-2xl" [icon]="plusIcon"></fa-icon>
          </button>
        </div>
        <table class="table-auto text-center font-semibold">
          <thead class="border-b-8-">
            <tr class="bg-blue-500 text-gray-200">
              <th class="px-1 py-4">S.N</th>
              <th class="px-6 py-2">Cash</th>
              <th class="px-2 py-2">User Name</th>
              <!-- <th class="px-2 py-2">Mess name</th> -->
              <th class="px-6 py-2">Date</th>
              <th *ngIf="userData?.role === 'MANAGER'" class="px-2 py-2">Action</th>
            </tr>
          </thead>

          <tbody class="bg-gray-50">
            <tr *ngFor="let fund of funds; let i = index" class="border-b-2">
              <td class="bg-blue-200 px-4 py-3">
                {{ currentPage * pageSize + i + 1 }}
              </td>
              <td class="px-4 py-4 text-gray-500">{{ fund.cash }}</td>
              <td class="bg-blue-200 px-4 py-3 text-gray-900">
                {{ fund.user.name }}
              </td>
              <!-- <td class="px-4 py-4 text-gray-500">{{fund.mess.name}}</td> -->
              <td class="px-4 py-3 text-gray-500">{{ fund.date }}</td>
              <td *ngIf="userData?.role === 'MANAGER'" class="bg-blue-200 px-4 py-3 text-gray-900 space-x-6">
                <a
                  routerLink="/fund/update/{{ fund.id }}"
                  class="text-2xl text-green-600 hover:text-green-500"
                >
                  <fa-icon [icon]="editIcon"></fa-icon>
                </a>
                <button
                  (click)="deleteFund(fund.id)"
                  class="text-2xl text-red-600 hover:text-red-500"
                >
                  <fa-icon [icon]="deleteIcon"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- btn -->
      <div class="flex space-x-5 ml-4 2xl:ml-8">
        <button
          class="flex items-center bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md text-gray-50 font-semibold cursor-pointer"
          (click)="previousPage()"
          [disabled]="currentPage === 0"
        >
          <fa-icon class="text-xl mr-2" [icon]="prevIcon"></fa-icon>
          <p>Previous</p>
        </button>
        <button
          *ngIf="hasNextPage()"
          class="flex items-center bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md text-gray-50 font-semibold"
          (click)="nextPage()"
          [disabled]="currentPage >= totalPages - 1"
        >
          <p>Next</p>
          <fa-icon class="text-xl ml-2" [icon]="nextIcon"></fa-icon>
        </button>
      </div>
    </div>
    <!-- 1st condition div end -->
  </div>
</div>











<!-- <div class="flex space-x-5 ml-4 2xl:ml-8">
  <button
    class="flex items-center bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md text-gray-50 font-semibold cursor-pointer"
    (click)="previousPage()"
    [disabled]="currentPage === 1"
  >
    <fa-icon class="text-xl mr-2" [icon]="prevIcon"></fa-icon>
    <p>Previous</p>
  </button>
  <button
    *ngIf="funds.length === pageSize"
    class="flex items-center bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-md text-gray-50 font-semibold"
    (click)="nextPage()"
  >
    <p>Next</p>
    <fa-icon class="text-xl ml-2" [icon]="nextIcon"></fa-icon>
  </button>
</div> -->